Group\ Assignemnt/

*.DS_Store
*.lock
*.jpg
*.png
*.pdf

*.sql
*.pyc

*.cache
*.jpgcd

*.xml
*.yaml
*.gitignore

do_dutch/ios/do_dutch.xcodeproj/project.pbxproj
.vscode/launch.json
do_dutch/.vscode/.react/index.bundle
do_dutch/.vscode/.react/index.map
do_dutch/ios/do_dutch.xcodeproj/project.pbxproj
do_dutch/.vscode/.react/debuggerWorker.js

do_dutch/reports/
tests/test-reports/
do_dutch/package-lock.json
server/db/.query.py.swp
